/*ACTION LINK */
.actAdd {
    text-decoration: none;
    color: white;
}
/*ESTILO Y ANIMACION BTN */

.Btnnn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: black;
}

/* plus sign */
.signnn {
    width: 100%;
    font-size: 2em;
    color: white;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* text */
.texttt {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    transition-duration: .3s;
}
/* hover effect on button width */
.Btnnn:hover {
    width: 125px;
    border-radius: 0px;
    transition-duration: .3s;
    background-color: green;
}

    .Btnnn:hover .signnn {
        width: 30%;
        transition-duration: .3s;
        padding-left: 20px;
    }
    /* hover effect button's text */
    .Btnnn:hover .texttt {
        opacity: 1;
        width: 70%;
        transition-duration: .3s;
        padding-right: 20px;
    }
/* button click effect*/
.Btnnn:active {
    transform: translate(2px,2px);
}
